<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Người dùng : {{idUser}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>--Tài khoảng--</ion-label>
      <ion-label>{{userName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>--Mật khẩu--</ion-label>
      <ion-label>{{userPassword}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Số tiền còn lại</ion-label>
      <ion-label>{{soTien}}</ion-label>
    </ion-item>

    
  </ion-list>
</ion-content>
