<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container" >
    <ion-list [inset]="true">
      <ion-item>
        <ion-input type="text" placeholder="Nhập tài khoản"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Nhập mật khẩu"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="Login()" expand="block" fill="clear" shape="round">
          Click me
        </ion-button>
      </ion-item>
    </ion-list>
  </div> -->
  <form [formGroup]="myForm">
    <ion-item>
      <ion-label stacked="">Field 1</ion-label>
      <ion-input formControlName="account" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked="">Field 2</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="saveForm()">Add Acount</ion-button>
    <ion-button expand="block" (click)="funcLogin()">Login</ion-button>
    <ion-button expand="block" (click)="setOpen(true)">List Account</ion-button>
    <ion-button expand="block" (click)="deletAll()">Delete</ion-button>
    <ion-alert
  [isOpen]="isalertFail"
  header="Alert"
  subHeader="Important message"
  message="Tài khoản đã tồn tại"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
<ion-alert
[isOpen]="isalertSucess"
header="Alert"
subHeader="Important message"
message="Thêm tài khoản thành công"
[buttons]="alertButtons"
(didDismiss)="setOpen(false)"
></ion-alert>
    <!-- <ion-button (click)="addAccount()">Add</ion-button> -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>List Accounts</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">
                Close
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list *ngFor="let item of accounts; let i = index">
            <ion-item>
              <ion-label>{{i}} : {{item}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>

</ion-content>